#welcomeText {
  width: 50%;
  position: absolute;
  right: 4vw;
  top: 5vh;
  text-align: center;
  font-size: 40px;
  color: #444; }

#quoteHr {
  border-color: black; }

#quoteOriginator {
  font-size: 28px; }

@media (min-width: 991px) {
  #slideCompleteContainer {
    width: 50%;
    min-width: 800px;
    position: absolute;
    bottom: -90vh;
    right: 4vw; }
  #welcomeText {
    min-width: 800px; }
  #welcomeText2 {
    display: none; } }

@media (max-width: 991px) {
  #slideCompleteContainer {
    display: none; }
  #welcomeText {
    width: 80%;
    background-color: rgba(221, 221, 221, 0.4);
    padding: 5%;
    border-radius: 15px;
    position: static;
    margin: 5% auto 0 auto; }
  #welcomeText2 {
    display: block;
    background-color: rgba(221, 221, 221, 0.4);
    min-height: 4em;
    padding: 3%;
    border-radius: 15px;
    margin: 10% auto 0 auto;
    width: 80%;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.5s ease; }
    #welcomeText2:hover {
      background-color: rgba(221, 221, 221, 0.8); } }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

.mySlides {
  display: none;
  opacity: 1;
  animation-name: fade;
  animation-duration: 2.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.activeSlide {
  display: block !important; }

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 4em; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0; }

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }
