hr{
  border-color: #444;
  margin: 0;
}
h1{
  font-size: 32px;
}

#dataListHead{
  background: #ddd;
  border: 1px solid black;
  margin-bottom: 1%;
  font-size: 1.5em;
}

#dataListHead>div{
  display: inline-block;
  padding: 1% 0;
/*  border-right: 1px solid black;*/
}

#dataListHead>div:last-child{
  border: none;
}

#dataListHead .headNr{
  width: 7.2%;
  padding-left: 2%;
  background-color: #888888;
}
#dataListHead .headCategory>div,#dataListHead .headAmount>div, #dataListHead .headDate>div{
  margin-right: 5%;
}

#dataListHead .headCategory{
  width: 13%;
  cursor: pointer;
}
#dataListHead .headCategory:hover{
  color: #444;
}

#dataListHead .headAmount{
width: 12.5%;
cursor: pointer;
}
#dataListHead .headAmount:hover{
  color: #444;
}

#dataListHead .headDate{
  width: 16%;
  cursor: pointer;
  margin-left: 1.5%;
}
#dataListHead .headDate:hover{
  color: #444;
}

#dataListHead .headDescription{
  cursor: pointer;
}
#dataListHead .headDescription:hover{
  color: #444;
}

.dataListWrapper{
  border: 1px solid #444;
  padding: 0;
  margin: 0;
}

.dataListWrapper div{
  padding: 0;
  margin: 0;
}
.dataListWrapper>div:last-child{
  border: none;
}

.dataListItem{
  border-bottom: 1px solid #444;
  font-size: 18px;
  background-color: #DDDDDD;
  transition: background-color 0.2s ;
}

.infoColumn{
  height: 100%;
}
.dataListItem:hover{
  background-color: #eee;
}

.expenseNumber{
  width: 8%;
  background: #888;
  position: absolute;
  text-align: center;
  height: 100%;
  font-size: 1.5em;
}

.expenseNumber>div{
  margin-top: .4em;
}


.categoryIcon{
  float: left;
  width: 10%;
  height: 100%;
  margin-left: 10% !important;
}
.categoryIcon>img{
  width: 60%;
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 10%;
}


.expenseValue{
  float: left;
  width: 20%;
  height: 100%;
  font-size: 1.5em;
  position: relative;
  left: 4%;
}
.expenseValue>div{
  margin-top: 0.4em;
}

.expenseDate{
  float: left;
  width: 15%;
  height: 100%;
  height: 2em !important;
}
.expenseDate>div{
  margin-top: 14%;
}

.expenseDescription{
  float: left;
  width: 40%;
  position: relative;
  left: 4%;
  overflow: hidden;
}
.expenseDescription>div{
  margin-top: 4.444%;
  height: 1.5em;
  transition: height 0.2s ease;
}

.expenseDescriptionShown{
  height: initial !important;
}

.editColumn{
  height: 100%;
}

.editColumn img{
  width: 60%;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 5%;
}

.editColumn img:hover{
    width: 65%;
}

.floatingSortHeader{
  float: left;
}

.editColumn>div{
  margin-top: 0.3em;
}


/*
.caret{
      border-top: 8px solid #333;
}*/
