
<div class="row">
  <div class=" expenseFilterArea col-md-4"> <!--Filter Area -->
<h1>Filter</h1>
<hr>

  </div>
  <div class="expenseDataArea col-md-8"> <!--Entry Area -->
    <h1>Expense List</h1>
    <div class="dataListWrapper" *ngIf="user">

      <div *ngFor="let expense of filteredList; let i=index" class="dataListItem row">
        <div class="infoColumn col-md-11" (click)="showFullDescription(expense)">
            <div class="expenseNumber"><div>{{i+1}}</div></div> <!-- TODO: has to be index of ngFor instead of expenseId  BUG: CSS-Bug floating div has fixed height that fits the macbook screen but has tu actually be at a 100% -->
            <div class="categoryIcon"><img [src]="getCategoryIconPath(expense.expenseData.category)" alt="category icon"></div>
            <div class="expenseValue"><div>{{expense.expenseData.value}}</div></div>
            <div class="expenseDate"><div>{{expense.expenseData.date.formatted}}</div></div>
            <div class="expenseDescription"><div [class.expenseDescriptionShown]="expense.descriptionShown">{{expense.expenseData.description}}</div></div> <!-- TODO: IF text longer then 1 line, cut strings and add "..." more "button or view" -->
        </div>
        <div class="editColumn col-md-1" ><img src="resources/icons/icon_edit.png"></div>
      </div>


    </div>
  </div>
</div>




TODO:
<hr>
Process: Design-->generate all--->limit number from all by filter
<hr>
<div style="font-size:2em">Feature to add here:
<ul >
  <li>Overview of the a total months expense -->purpose is to find, manage, edit and delete entries</li>
  <li>Filters possible (Category, Month, specific Day)</li>
  <li>NO Charts etc. Total amounts should be calculated for all entries together which accord with the filters</li>
  <li>Maybe several columns? --> In need for a good solution for the view... </li>
  <li>Another Menu Item needed where all of this is actually added...Statistics is actually another page with fixed settings calculated charts etc... </li>
  <li> This page will be named somewhat like "Datalist"</li>
</ul>
</div>
